@page
@model ElectroDetali.Pages.User.ConformModel
@{
}
<h2>Подтвердите регистрацию</h2>
<p>На вашу почту был отправлен код подтверждения, введите его, чтобы завершить регистрацию</p>
<form method="post">
    <div class="form-group">
        <label for="Input">Код</label>
        <input class="form-control" name="Input" id="Input" placeholder="Введите код">
    </div>
    <button type="submit" class="btn btn-primary">Подтвердить</button>
</form>