@page
@model ElectroDetali.Pages.Goods.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменить</h1>
<div class="d-none">
    <input asp-for="StatusMessage" />
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Good.Id" />
            <div class="form-group">
                <label asp-for="Good.Name" class="control-label">Название</label>
                <input asp-for="Good.Name" class="form-control" required />
                <span asp-validation-for="Good.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Good.Description" class="control-label">Описание</label>
                <input asp-for="Good.Description" class="form-control" />
                <span asp-validation-for="Good.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Good.Price" class="control-label">Цена</label>
                <input asp-for="Good.Price" class="form-control" required />
                <span asp-validation-for="Good.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Good.Categoryid" class="control-label">Категория</label>
                <select asp-for="Good.Categoryid" class="form-control" asp-items="ViewBag.Categoryid" required></select>
                <span asp-validation-for="Good.Categoryid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Good.Image" class="control-label">Изображение</label>
                <input asp-for="Good.Image" class="form-control" />
                <span asp-validation-for="Good.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться к общему списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>src = "https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js" ></script>

    <script>
        $(document).ready(function () {
            let msg = $('#StatusMessage').val();
            if (msg.length > 0) {
                swal.fire(msg);
            }
        }
    </script>
}