@page
@model ElectroDetali.Pages.Goods.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Good</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Good.Id" />
            <div class="form-group">
                <label asp-for="Good.Name" class="control-label"></label>
                <input asp-for="Good.Name" class="form-control" />
                <span asp-validation-for="Good.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Good.Description" class="control-label"></label>
                <input asp-for="Good.Description" class="form-control" />
                <span asp-validation-for="Good.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Good.Price" class="control-label"></label>
                <input asp-for="Good.Price" class="form-control" />
                <span asp-validation-for="Good.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Good.Categoryid" class="control-label"></label>
                <select asp-for="Good.Categoryid" class="form-control" asp-items="ViewBag.Categoryid"></select>
                <span asp-validation-for="Good.Categoryid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Good.Image" class="control-label"></label>
                <input asp-for="Good.Image" class="form-control" />
                <span asp-validation-for="Good.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
